@font-face {
    font-family: "Josefin Sans";
    src: url(./font/JosefinSans-Italic-VariableFont_wght.ttf);
}

:root {
    --white: rgb(240,240,240);
    --black: rgb(20,20,20);
    --dynamic-color: transparent;
}

body {
    background-color: var(--dynamic-color);
    font-family: Josefin Sans, Segoe UI;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 1s linear;
    position: relative;
}

#notification {
background-color: var(--black);
color: var(--white);
text-align: center;
border-radius: 20px;
padding: 20px;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
position: absolute;
top: -100px;
transition: 0.5s;
}   

#notification.show {
    top: 10px;
}

.user-interface {
    transition: 0.4s ease;
}

.display-user-interface {
    opacity: 0;
    pointer-events: none;
}

.interface-container {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 33px;
    cursor: default;
}

h1 {
    color: var(--dynamic-color);
    transition: 1s linear;
   
}

#instruction-text {
    min-height: 16px;
    position: relative;
}

#instruction-text::after {
    content: "";
    position: absolute;
    bottom: 2px;
    margin-left: 2px;
    height: 16px;
    width: 2px;
    background-color: var(--white);
    animation: anim 1.6s infinite;
}

@keyframes anim {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.controls {
display: flex;
justify-content: space-between;
gap: 5px;
}

.range-container {
    background-color: var(--black);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    color: var(--white);
    border-radius: 20px;
    padding: 19px;
    place-self: start;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    filter: brightness(200%);
  }

#play-btn {
    cursor: pointer;
    transition: 0.2s;
}

label i {
    height: 20px;
    width: 20px;
  }
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: transparent; 
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--dynamic-color);  
    border-radius: 50px;
    transition: 1s linear;
}

input[type="range"]::-webkit-slider-thumb{
    background-color: var(--dynamic-color); 
    filter: invert(1); 
    border: 2px solid black;
    width: 16px;  
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: 1s linear;
}

input[type="range"]::-moz-range-thumb {
    background-color: var(--dynamic-color);
    filter: invert(1);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    transition: 1s linear;
  
}

#slider-label{
    display: inline-block;
    min-width: 38px;
    text-align: center;
    transition: 0.5s linear;
    transform: translateY(-4px);
    user-select: none;
}